<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/DSCN3010.JPG');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About Us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

   <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          <br> 
        <p>Ultimate Engineering PLC, is a Grade 1 Electromechanical Engineering company
            established to provide designing, supply, installation and commissioning of
            electromechanical works and equipment with principal registration number
            MT/AA/2/0008344/2004 on 7/1/1997, with business license number
            14/706/669101/2006, Tax Payer Identification Number 0000038354 and Value
            Added Tax Registration Number 015545. Ultimate Engineering PLC is primarily
            founded to provide electromechanical solutions for the multifaceted and
            diverse needs of its private, governmental and non-governmental customers.
            Our services include design, supply, installation and commissioning of various
            electromechanical works and equipment to a multitude of clients including
            Hospital, Factories, Agro-Industries, Hotels, Abattoirs, City Halls, Commercial
            Buildings, Private Residences and Offices with quality and timeliness.</p>
            <br>
            <br>
            </div>
            </div>
            <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/DSCN3014.JPG);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-10">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="18">0</strong>
		                <span>Years of Experienced</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="7">0</strong>
		                <span>Upcoming Projects</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="11">0</strong>
		                <span>Finished Projects</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>
    <br>
            <br>
    <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          <p>
            Apart from these, we manage electromechanical projects on a Turnkey basis and
            assist our clients in defining their needs on their various projects by providing
            alternative cost-effective solutions that introduce state of the art technologies
            to fully meet their needs. In addition, working with internationally recognized
            manufacturers, we facilitate transfer of knowledge and technology to the
            various clients that are operating in various industries in the Ethiopian
            economy. Ultimate Engineering PLC is characterized by its customer-specific
            approach in every aspect of the projects it undertakes for its clients in an effort
            to meet its clients’ specific needs in their entirety.
            <br>
            <br>
            For more than a decade, Ultimate Engineering PLC has successfully delivered a
            multitude of projects with varying size and nature in various parts of the country.
            Our company is characterized by its commitment to undertake projects of any
            kind and size with better quality and our determination in making appropriate
            aftersales services to our clients and this has created tremendous impact in
            attracting the attention of various new customers.
           </p>
    </div>
    </div>
    
     <div class="tab">
  <button class="btn btn-primary px-4 py-3 mt-3 tablinks" onclick="openCity(event, 'VMV')">Vision, Mission and Values</button>
  <button class="btn btn-primary px-4 py-3 mt-3 tablinks" onclick="openCity(event, 'OT')">Our Team</button>
  <button class="btn btn-primary px-4 py-3 mt-3 tablinks" onclick="openCity(event, 'CC')">Company Culture</button>
</div>

<div id="VMV" class="tabcontent">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 ftco-animate">
<div class="sub-sectionsa">
  <h2 style="text-align:center;">Vision</h2>
  <p>To be a national champion in sustainable utilization of the untapped local resources in our
field of focus and contribute our part in uplifting the lives of our citizens.</p>
 
<h2 style="text-align:center;">Mission</h2>
  <p>Establishing as a center of excellence for the advancement of electromechanical
    engineering works through research-based innovations, germane technology
    transfer and dependable practices that are founded on socially responsible
    practices, environmentally friendly operational procedures and building the
    capacity of its employees through an ongoing training and development programs.</p>

<h2 style="text-align:center;">Values</h2>
    <p><b>Our Partners:</b>our close relationship with our partners that supply us with first-grade
quality products.</p>
<p><b>Our Clients:</b> understanding our client’s needs and ensuring highest level of
satisfaction through a firm focus on quality of project delivery.</p>
<p><b>Our Relationships:</b> developing long-term customer relationships and prioritizing
sustainable solutions.</p>
<p><b>Sustainability:</b> aligning our solutions to achieve economic and environmental
sustainability.</p>
<p><b>Talent:</b> recruitment and training of the most ambitious and talented individuals that
lead the way in delivering outstanding results.</p>
<p><b>Innovation:</b> a culture of innovation and self-leadership within our company.</p>
</div>
</div>
</div>
</div>

<div id="OT" class="tabcontent">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 ftco-animate">
          <div class="sub-sectionsa">
		            <h2 style="text-align:center;">Our Team</h2>
		            <p>By recruiting and training the most ambitious and talented individuals,
Ultimate Engineering leads the way in fostering talent that deliver
outstanding results. We have certified project managers that are skilled in using specialized
tools and latest technologies. Certified professionals from international
tech companies like Axis and Huawei make up our team of talent that
boost our capacity for high quality service delivery.
</p>
<p>
</p>
<p>We have excellent planners that design effective, efficient and
sustainable solutions. They plan everything from system integration to
energy efficiency and to cost effectiveness.
At Ultimate Engineering, we don’t only provide our services but we also
transfer knowledge from our staff to our clients. Our team provides
training and technical support to all of our clients.
</p>
<p>Ultimate Engineering follows health and safety procedures that
promote the protection and wellbeing of all employees by ensuring that
equipment, materials and protective devices are provided and
maintained in good working condition.</p> </p>
	            </div>
	          </div>
        	</div>
</div>

<div id="CC" class="tabcontent">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 ftco-animate">
          <div class="sub-sectionsa">
  <h2 style="text-align:center;">Company Culture</h2>
  <p>Since its establishment, Ultimate Engineering PLC has been directed by its
determination to keep up its virtues of comprehensiveness, consistency and reliability
that are essential to its operation. The sustenance of this merits requires Ultimate
Engineering PLC to be in an incessant Continual Improvement effort that are geared at
keeping its pace with its ever-changing industry and market platforms.</p>
 
<h4 style="text-align:center;">Why We Are Different</h4>
  <p>We are attributed with comprehensiveness as the industry necessitates keeping up
with germane technologies and updates. Hence, we always work hard to provide value
added features to both our services and operations in order to ensure that operational
efficiency and organizational effectiveness are the main driving forces that add values
to both the company and its clients.</p>

<h4 style="text-align:center;">Project Control Ensures the Achievement of Predetermined Goals and
Objectives</h4>
<p>Ultimate Engineering PLC always evaluates the implementation of appropriate checks
and balances in every line of its operations so as to ensure that all its activities and
processes are up to their predetermined goals. We always try to work in compliance
with Quality Management principles that are aimed at controlling process rather than
outcomes.</p>

<h4 style="text-align:center;">Comprehensive Design Approach</h4>
<p>The comprehensive design approach that we implement for every type of project place
increases our efficiency in project management as it necessitates the integration of
each process while at the same time ensuring each process is executed effectively as
planned. Moreover, as the nature of our endeavors necessitates a comprehensive
approach to our planning works, our comprehensive design approach is the main
means in avoiding repetition of works, elimination of reworks and controlling of the
unnecessary expenses and time thereby.</p>
</div>
</div>
</div>
</div>
 <br>
    {{>footer}}
    {{>scripts}}
    
  </body>
</html>