<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/Peace Keeping Project/20190306_143802.jpeg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Projects</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Projects <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
	

		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">General Experience</span>
            <h2 class="mb-4">Completed Projects</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>A.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract basis<h3>
	                </div>
					<p>Supply and Installation of Cold Room, Kitchen Hoods, and Ventilation Systems for Bahir Dar University</p>
					<div class="one-half">
						<h3>Contract Amount: Not Disclosed</h3>
						<h3>Project Owner: Bahir Dar University<h3>
						<h3>Main Contractor: GAD Construction<h3>
						<h3>Project Period: September 2006 up to April 2008<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>D.<h2>
						<h3>Project Title: Refrigerator Equipment</h3>
						<h3>Contract Type: Main Contract<h3>
	                </div>
					<p>Supply and Installation of 5 units of Cold Rooms at Upper Awash Agro Industry at Awash</p>
					<div class="one-half">
						<h3>Contract Amount: Not Disclosed</h3>
						<h3>Project Owner: Upper Awash Agro Industry<h3>
						<h3>Project Period: June 2006 up to January 2007<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>G.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Main Contractor<h3>
	                </div>
					<p>Supply and Installation of Air Conditioning Systems for Yordanos Hospital at Addis Ababa</p>
					<div class="one-half">
						<h3>Contract Amount: Not Disclosed</h3>
						<h3>Project Owner: Yordanos Hospital<h3>
						<h3>Project Period: March 2011 up to September 2011<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>J.</h2>
					<h3>Project Title: Electromechanical Work</h3>
					<h3>Contract Type: Sub Contractor<h3>
	                </div>
					<p>Supply and Installation of Heat, Ventilation and Air Conditioning Systems for Jijiga Referral Hospital</p>
					<div class="one-half">
						<h3>Contract Amount: Birr 3,700,000.00</h3>
						<h3>Project Owner: Ethiopian Airports Enterprise<h3>
						<h3>Main Contractor: Jijiga Referral Hospital<h3>
						<h3>Project Period: March 2011 up to September 2011<h3>
						</div>
              </div>
            </div>
			</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
				<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>B.</h2>
        		<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract basis<h3>
	                </div>
					<p>Supply and Installation of Cold Room, Kitchen Hoods, and Ventilation Systems for Hawassa University</p>
					<div class="one-half">
						<h3>Contract Amount: Not Disclosed</h3>
						<h3>Project Owner: Hawassa University<h3>
						<h3>Main Contractor: GAD Construction<h3>
						<h3>Project Period: September 2006 up to April 2008<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>E.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract basis<h3>
	                </div>
					<p>Supply and Installation of Air Conditioning Systems and Chiller Systems at Hawassa</p>
					<div class="one-half">
						<h3>Contract Amount: Birr 508,136.00</h3>
						<h3>Project Owner: Red Sea Construction<h3>
						<h3>Project Period: June 2006 up to November 2007<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>H.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Main Contractor<h3>
	                </div>
					<p>Supply and Installation of Air Conditioning Systems for Immigration and Nationality Affairs Bureau</p>
					<div class="one-half">
						<h3>Contract Amount: Not Disclosed</h3>
						<h3>Project Owner: Immigration and Nationality Affairs Bureau<h3>
						<h3>Project Period: March 2011 up to September 2011<h3>
						</div>
              </div>
            </div>
            
            
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>K.</h2>
        		<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract<h3>
	                </div>
					<p>SDesign, Supply and Installation HVAC, MGS and Boiler Systems for Jimma Referral Hospital</p>
					<div class="one-half">
						<h3>Contract Amount: Birr 25,000,000.00</h3>
						<h3>Project Owner: Jimma University<h3>
						<h3>Main Contractor: Rama Construction<h3>
						</div>
              </div>
            </div>
        	</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>C.</h2>
        		<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract basis<h3>
	                </div>
					<p>Supply and Installation of Air Conditioning Systems and Chiller Systems for
						Ethiopian Telecommunications Corporation at Dire Dawa</p>
					<div class="one-half">
						<h3>Contract Amount: Birr 2,262,293.80</h3>
						<h3>Project Owner: Ethiopian Telecommunications Corporation<h3>
						<h3>Main Contractor: AB Construction<h3>
						<h3>Project Period: June 2006 up to May 2007<h3>
						</div>
              </div>
            </div>
			
        		<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>F.</h2>
					<h3>Project Title: Electromechanical Work</h3>
					<h3>Contract Type: Sub Contract basis<h3>
	                </div>
					<p>Supply and Installation of Air Conditioning Systems for Dire Dawa Airport Terminal</p>
					<div class="one-half">
						<h3>Contract Amount: Birr 623,660.35</h3>
						<h3>Project Owner: Ethiopian Airports Enterprise<h3>
						<h3>Main Contractor: Flintstone Engineering PLC<h3>
						<h3>Project Period: March 2007 up to June 2008<h3>
						</div>
              </div>
            </div>

            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>I.</h2>
					<h3>Project Title: Electromechanical Work</h3>
					<h3>Contract Type: Sub Contractor<h3>
	                </div>
					<p>Supply and Installation of Heat, Ventilation and Air Conditioning Systems for Jijiga Referral Hospital</p>
					<div class="one-half">
						<h3>Contract Amount: Birr 3,700,000.00</h3>
						<h3>Project Owner: Ethiopian Airports Enterprise<h3>
						<h3>Main Contractor: Jijiga Referral Hospital<h3>
						<h3>Project Period: March 2011 up to September 2011<h3>
						</div>
              </div>
            </div>
			
        	</div>

        	<!--  -->
			
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Projects Underway</h2>
          </div>
        </div>
		</div>
			
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>A.</h2>
					<h3>Project Title: Electromechanical Work</h3>
					<h3>Contract Type: Main Contractor<h3>
	                </div>
					<p>Supply and Installation of Abattoir Electromechanical Systems for the Harar City</p>
					<div class="one-half">
						<h3>Project cost: Birr 40,465,426.20</h3>
						<h3>Project Owner: Harari People Regional State<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>D.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract<h3>
	                </div>
					<p>Supply and Installation of Electromechanical Works for Children`s and youth Theater Project</p>
					<div class="one-half">
						<h3>Project cost: Birr 4,837,632.55</h3>
						<h3>Main Contractor: Defense Construction Enterprise<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>G.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Main Contractor<h3>
	                </div>
					<p>Supply and Installation of Electromechanical Works for Yatu Hotel Project</p>
					<div class="one-half">
						<h3>Project cost: Birr 1,617,047.78</h3>
						<h3>Project Owner: Yarer Construction<h3>
						</div>
              </div>
            </div>
          </div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
				<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>B.</h2>
        		<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract<h3>
	                </div>
					<p>Supply and Installation of Electromechanical Works for Mekelle Referral Hospital Project</p>
					<div class="one-half">
						<h3>Project cost: Birr 19,122,721.93</h3>
						<h3>Main Contractor: Defense Construction Enterprise<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
						<h2>E.<h2>
						<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract<h3>
	                </div>
					<p>Supply and Installation of Electromechanical Works for INSA Head office Project</p>
					<div class="one-half">
						<h3>Project cost: Birr 16,787,681.72</h3>
						<h3>Project Owner: Defense Construction Enterprise<h3>
						</div>
              </div>
			  </div>
        	</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>C.</h2>
        		<h3>Project Title: Electromechanical Work</h3>
						<h3>Contract Type: Sub Contract<h3>
	                </div>
					<p>Supply and Installation of Electromechanical Works for Bahirdar Referral Hospital Project</p>
					<div class="one-half">
						<h3>Project cost: Birr 19,804,315.72</h3>
						<h3>Main Contractor: Defense Construction Enterprise<h3>
						</div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              		<div class="text">
					  <div class="one-half">
        			<h2>F.</h2>
					<h3>Project Title: Electromechanical Work</h3>
					<h3>Contract Type: Sub Contract<h3>
	                </div>
					<p>Supply and Installation of Electromechanical Works for Gambella University Project</p>
					<div class="one-half">
						<h3>Project cost: Birr 13,049,354.23</h3>
						<h3>Main Contractor: Defense Construction Enterprise<h3>
						</div>
              </div>
            </div> 
        </div>

    </section>


   {{>footer}}
   {{>scripts}}
  </body>
</html>