<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/DSCN3025.JPG');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Services</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          <br> 
        <h4>Ultimate Engineering PLC uses a comprehensive approach towards
    providing various types of electromechanical services to a variety of
    customers throughout the country using quality products from selected
    manufacturers and suppliers from around the world. We provide
    electromechanical services to hospitals, Agro-industries, universities,
    commercial buildings, offices, halls and factories regardless of size,
    scope, or complexity from design to commissioning using various
    project management arrangements.</h4>
    <br>
    </div>
    </div>
	
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">

         <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/Harar Abattoir Project/DSCN3016.jpg'); ">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div>Energy Management System</div>
                </div>
                <ul class="services">
                  <li>Energy Efficiency Improvement</li>
                  <li>Energy Auditing</li>
                  <li>Energy Efficient Equipment Supply</li>
                  <li>Energy Management Training</li>
                  </ul>
                  </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/Peace Keeping Project/20190509_092509.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div>Power System</div>
                </div>
               <ul class="services">
                  <li>Generators</li>
                  <li>Ups</li>
                  <li>Hybrid Power Supply System</li></ul>
              
              </div>
            </div>
          </div>
          
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/Peace Keeping Project/20190315_111513.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div>Cable Management System</div>
                </div>
               <ul class="services">
                  <li>Structures Cabling</li>
                  <li>Trunking System</li>
                  <li>Cable Trays</li></ul>
              
              </div>
            </div>
          </div>

          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/Bahir Dar Project/20191003_064632.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div>Audio Visual System</div>
                </div>
                 <ul class="services">
                  <li>Digital Conference System</li>
                  <li>Video Projection System</li>
                  <li>PA System</li>
                  <li>Control System</li>
                  </ul>
                  </div>
            </div>
          </div>

          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/Peace Keeping Project/20190315_111519.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                    <div>Electromechanical Services</div>
                 </div>
                <ul class="services">
                  <li>Electrical</li>
                  <li>HVAC</li>
                  <li>Steam Generating Boiler System</li>
                  <span id="dots">...</span><span id="more">
                  <li>Medical Gas System</li>
                  <li>Abattoir & Slaughterhouse Equipment & Systems</li>
                  <li>Foam Deluge System</li>
                  <li>Pre Action System</li>
                  <li>Lighting Control and Decorative Lighting System</li>
                  <li>Street Lighting</li>
                  </span></ul>
                 <button onclick="myFunction()" class="btn btn-primary px-4 py-3 mt-3" id="myBtn">Read more</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/lowvoltageservices.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                    <div>Low Voltage Services</div>
                 </div>
                 <ul class="services">
                  <li>Structured Cabling</li>
                  <li>Building Management Systems</li>
                  <li>Home Automation System</li>
                  <span id="dots2">...</span><span id="more2">
                  <li>Fire Alarm and Emergency Lighting Systems</li>
                  <li>CCTV, Security and Surveillance Systems</li>
                  <li>IPTV, SMATV</li>
                  <li>Access Control, Time Attendance - card and Bio-Metric System</li>
                  <li>Queue - Management Systems</li>
                  <li>Master Clock Lighting</li>
                  <li>Public Address Systems / BGM</li>
                  <li>Data Center Total Solutions</li>
                  <li>Stadium Score Boards and Advertisement Displays</li>
                  <li>Central Battery and UPS Systems</li>
                  <li>Nurse Call and Bed Head Systems</li>
                  <li>Dimmer Control</li>
                  <li>Farash Call Systems</li>
                  <li>Gate Barrier Systems</li>
                  <li>Burgler Alarm Systems</li>
                  <li>Programmable Bell QClock Systems</li>
                  <li>Active Components</li>
                  </span></ul>
                 <button onclick="myFunction2()" class="btn btn-primary px-4 py-3 mt-3" id="myBtn2">Read more</button>
              </div>
            </div>
          </div>

          


         
        </div>
			</div>
		</section>

    {{>footer}}
    {{>scripts}}
    
  </body>
</html>